* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mainform {
        width: 30%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 3rem);
    }

    input {
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: right;
        font-size: 1.5rem;

        &[type="text"]{
            color : transparent;
            text-shadow : 0 0 0 #000;
        }
        &[type="text"]:focus{
            outline : none;
        }
    }

    button {
        outline: none;
        background-color: #aaa;

        &:nth-child(17) {
            grid-column-start: 4;
            grid-column-end: 4;
            grid-row-start: 5;
            grid-row-end: 7;
        }

        &:nth-child(18) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

}