* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    .first-part, .second-part {
        display: flex;
        flex-direction: column;
        margin: 0 5rem;
    }

    .first-part {
        flex: 4;
    }

    .second-part {
        flex: 3;
    }

    .first-part form, .second-part form {
        display: flex;
        flex-direction: column;
    }

    .form-row {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: .3rem;
    }

    label {
        margin-right: .5rem;
    }

    input {
        height: 1.5rem;
        font-size: 1rem;
        flex: 1;
    }

    button {
        font-size: 1rem;
        margin: .3rem;
        height: 2rem;
    }

    p {
        margin: .3rem;
        padding: 0;
    }
}