* {
    margin: 0;
    padding: 0;
}

@mixin text-margin() {
    margin: .5rem 0;
}

html {
    font-family: sans-serif;
    font-size: 18px;


    .info,
    .solution,
    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    main {
        border-top: .1px solid transparent;
        margin: 0 1rem;
    }

    h1 {
        text-align: center;
        @include text-margin();
    }

    h4 {
        text-align: center;
        @include text-margin();
    }

    iframe {
        width: 100%;
        margin: 1rem auto;
        height: 265px;
    }

    ul {
        list-style-type: none;

        img {
            width: 5rem;
            margin-bottom: -3.5px;
        }
    }
}